<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.machinecat.cloudflared-manager</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/laters/work/web3/MachineCat/cloudflared-manager.sh</string>
        <string>monitor</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/laters/work/web3/MachineCat</string>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    
    <key>StandardOutPath</key>
    <string>/Users/laters/work/web3/MachineCat/cloudflared-manager.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/laters/work/web3/MachineCat/cloudflared-manager-error.log</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>CLOUDFLARED_LOCAL_PORT</key>
        <string>80</string>
        <key>CLOUDFLARED_CHECK_INTERVAL</key>
        <string>10</string>
        <key>CLOUDFLARED_GIT_BRANCH</key>
        <string>main</string>
        <key>CLOUDFLARED_MAX_RESTART_DELAY</key>
        <string>30</string>
    </dict>
</dict>
</plist>
